#container {
    margin-top: -384px;
    margin-left: -512px;
    width: 1024px;
    height: 768px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    background-image: url(../images/bg.png);
    cursor: crosshair;
}

#main {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.png);
    cursor: crosshair;
}

#pie {
    z-index: 10;
    position: absolute;
    background-image: url(../images/pie.png);
    top: 580px;
    left: 710px;
    width: 317px;
    height: 200px;
}

#save {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/save.png);
    left: 573px;
    top: 682px;
    width: 126px;
    height: 86px;
}

#save.disable {
    background-image: url(../images/menu/save_disable.png);
}

#guess {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/guess.png);
    left: 600px;
    top: 577px;
    width: 110px;
    height: 99px;
}

#guess.disable {
    background-image: url(../images/menu/guess_disable.png);
}

#fill {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/fill.png);
    left: 704px;
    top: 518px;
    width: 103px;
    height: 105px;
}

#fill.disable {
    background-image: url(../images/menu/fill_disable.png);
}

#blackboard {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/blackboard.png);
    left: 803px;
    top: 481px;
    width: 110px;
    height: 118px;
}

#blackboard.disable {
    background-image: url(../images/menu/blackboard_disable.png);
}

#magic {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/magic.png);
    left: 922px;
    top: 503px;
    width: 101px;
    height: 100px;
}

#magic.disable {
    background-image: url(../images/menu/magic_disable.png);
}

#home {
    /* border: 1px solid red; */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 915px;
    top: 5px;
}

.frontCanvas {
    position: absolute;
    left: 132px;
    top: 118px;
    /*border: #000 solid 1px;*/
    z-index: 2;
}

.backCanvas {
    position: absolute;
    left: 132px;
    top: 118px;
    /*border: #000 solid 1px;*/
    z-index: 1;
}

.crayonPen {
    position: absolute;
    height: 49px;
    width: 238px;
}

    .crayonPen.unselected{
        left: -138px;
    }

    .crayonPen.selected {
        left: -100px;
    }

.brushSize {
    position: absolute;
    width: 222px;
    height: 75px;
    left: 0px;
    top: 690px;
    z-index: 3;
}

    .brushSize .brush {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 15px;
    }

.stampList {
    position: absolute;
    background: url(../images/stamps/background.png) no-repeat;
    top: -50px;
    left: 180px;
    height: 188px;
    width: 736px;
}

    .stampList .stamp {
        position: absolute;
        height: 109px;
        width: 106px;
    }

        .stampList .stamp.selected {
            top: 55px;
        }

        .stampList .stamp.unselected {
            top: 35px;
        }

.undoContainer {
    z-index: 3;
    position: absolute;
    height: 62px;
    top: 700px;
    left: 210px;
}

.undo {
    position: absolute;
    width: 83px;                
    height: 62px;
    border: "1px solid red";
    background-image: url(../images/undo.png);
    top: 0px;
    left: 0px;
    z-index: 3;
}

.reset {
    position: absolute;
    width: 83px;
    height: 62px;
    border: "1px solid red";
    background-image: url(../images/reset.png);
    top: 0px;
    left: 98px;
    z-index: 3;
}

.chalkPen {
    position: absolute;
    height: 40px;
    width: 238px;
    border: solid 1px red;
}

    .chalkPen.unselected {
        left: -138px;
    }

    .chalkPen.selected {
        left: -100px;
    }