#container {
    margin-top: -384px;
    margin-left: -512px;
    width: 1024px;
    height: 768px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
}

#main {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.png);
    cursor: crosshair;
}

#pie {
    z-index: 10;
    position: absolute;
    background-image: url(../images/pie.png);
    top: 580px;
    left: 710px;
    width: 317px;
    height: 200px;
}

#save {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/save.png);
    left: 573px;
    top: 682px;
    width: 126px;
    height: 86px;
    display: none;
}

#save.disable {
    background-image: url(../images/menu/save_disable.png);
}

#guess {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/guess.png);
    left: 600px;
    top: 577px;
    width: 110px;
    height: 99px;
    display: none;
}

#guess.disable {
    background-image: url(../images/menu/guess_disable.png);
}

#fill {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/fill.png);
    left: 704px;
    top: 518px;
    width: 103px;
    height: 105px;
    display: none;
}

#fill.disable {
    background-image: url(../images/menu/fill_disable.png);
}

#blackboard {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/blackboard.png);
    left: 803px;
    top: 481px;
    width: 110px;
    height: 118px;
    display: none;
}

#blackboard.disable {
    background-image: url(../images/menu/blackboard_disable.png);
}

#magic {
    z-index: 1000;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(../images/menu/magic.png);
    left: 922px;
    top: 503px;
    width: 101px;
    height: 100px;
    display: none;
}

#magic.disable {
    background-image: url(../images/menu/magic_disable.png);
}

#home {
    /* border: 1px solid red; */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 915px;
    top: 5px;
}

