#crayons {
    position: absolute;
    top: 5px;
    left: -240px;
}
#crayons li {
    margin-bottom: 3px;
}
.pen-bg {
    height: 49px;
    width: 238px;
    float: left;
}
.pen-head {
    height: 49px;
    width: 68px;
    margin-left: 238px;
}

#cffcd9a .pen-bg { background: url(../images/crayon-pens/ffcd9a.png) repeat-x; }
#cffcd9a .pen-head { background: url(../images/crayon-pens/ffcd9a-head.png); }
#cfc0400 .pen-bg { background: url(../images/crayon-pens/fc0400.png) repeat-x; }
#cfc0400 .pen-head { background: url(../images/crayon-pens/fc0400-head.png); }
#cff852e .pen-bg { background: url(../images/crayon-pens/ff852e.png) repeat-x; }
#cff852e .pen-head { background: url(../images/crayon-pens/ff852e-head.png); }
#cfec900 .pen-bg { background: url(../images/crayon-pens/fec900.png) repeat-x; }
#cfec900 .pen-head { background: url(../images/crayon-pens/fec900-head.png); }
#cd1f800 .pen-bg { background: url(../images/crayon-pens/d1f800.png) repeat-x; }
#cd1f800 .pen-head { background: url(../images/crayon-pens/d1f800-head.png); }
#c47d329 .pen-bg { background: url(../images/crayon-pens/47d329.png) repeat-x; }
#c47d329 .pen-head { background: url(../images/crayon-pens/47d329-head.png); }
#c29d4a3 .pen-bg { background: url(../images/crayon-pens/29d4a3.png) repeat-x; }
#c29d4a3 .pen-head { background: url(../images/crayon-pens/29d4a3-head.png); }
#c29b0d2 .pen-bg { background: url(../images/crayon-pens/29b0d2.png) repeat-x; }
#c29b0d2 .pen-head { background: url(../images/crayon-pens/29b0d2-head.png); }
#c2859cf .pen-bg { background: url(../images/crayon-pens/2859cf.png) repeat-x; }
#c2859cf .pen-head { background: url(../images/crayon-pens/2859cf-head.png); }
#c986ad7 .pen-bg { background: url(../images/crayon-pens/986ad7.png) repeat-x; }
#c986ad7 .pen-head { background: url(../images/crayon-pens/986ad7-head.png); }
#cc7bbbb .pen-bg { background: url(../images/crayon-pens/c7bbbb.png) repeat-x; }
#cc7bbbb .pen-head { background: url(../images/crayon-pens/c7bbbb-head.png); }
#c000000 .pen-bg { background: url(../images/crayon-pens/000000.png) repeat-x; }
#c000000 .pen-head { background: url(../images/crayon-pens/000000-head.png); }
#cffffff .pen-bg { background: url(../images/crayon-pens/ffffff.png) repeat-x; }
#cffffff .pen-head { background: url(../images/crayon-pens/ffffff-head.png); }

.selected {
    margin-left: 30px;
}